<div class="container">
        

 <form   [formGroup]="checkOut"  (ngSubmit)="check();">    <!--//step2: give formname in form tag and formcontrol in each input field of form -->
  <div class="form-group">
    <label for="exampleInputEmail1">Email </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="mail">
    <span *ngIf="checkOut.get('mail')?.touched && checkOut.get('mail')?.hasError('required')">Enter email please </span>
    <span *ngIf="checkOut.get('mail')?.touched && checkOut.get('mail')?.hasError('email')">Enter a valid email please </span>

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="pass">
    <span *ngIf="checkOut.get('pass')?.touched && checkOut.get('pass')?.hasError('required')">Enter password please </span>
    <span *ngIf="checkOut.get('pass')?.touched && checkOut.get('pass')?.hasError('minlength')">Enter Min 7 characters please </span>
    <span *ngIf="checkOut.get('pass')?.touched && checkOut.get('pass')?.hasError('maxlength')">Enter max 15 please </span>

  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="checkB">
    <label class="form-check-label" for="exampleCheck1">Agree to terms</label>
  </div>
  <button type="submit" class="btn btn-primary"  [disabled]="!checkOut.valid">Checkout</button>
</form>
</div>
